body {
    background-color: darkslategrey;
}

.main-container {
    background-image: url(https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 33.333%;
    min-height: 100%;
    width: 500px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 150px;

}

.light-container {
    width: 60px;
    height: 80px;
    padding: 20px;
    margin: 10px;
    border: solid grey 5px;
    background-color: grey;
    flex: 3;
}

.lightbulb {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid 5px black;
    filter: drop-shadow(20px 5px 10px royalblue)
}